html {
    height: 100%;
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: cornflowerblue;
    height: 100%;
    text-align: center;
}

#main {
    height: calc(100vh - 100px);
    overflow: scroll;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #7b7b7b;
    height: 100px;
}

.navigation {
    font-size: 75px;
    margin: auto 100px;
}

.container {
    display: grid;
    justify-items: center;
}

#stats {
    position: relative;
    width: 100%;
    height: 80px;
}

#canvas-wrapper {
    position: relative;
}

#arrow-indicator {
    text-align: center;
}

.review {
    display: grid;
    justify-items: center;
    gap: 5px;
    grid-template-columns: auto auto;
}

.review h1,
.review-main {
    grid-column: 1 / 3;
}

#review-positions {
    position: relative;
    overflow: hidden;
    /* 30px position image, 5px marker, 30px step text */
    height: 75px;
}

#review-positions-marker {
    position: absolute;
    top: 30px;
    z-index: 1;
    height: 5px;
    width: 5px;
    background-color: orange;
}

.review-position {
    position: absolute;
    height: 30px;
    /* width: 20px */
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.review-step {
    position: absolute;
    bottom: 0px;
    height: 36px;
    background-color: #0000009c;
    border: dotted black 2px;
    color: white;
    font-size: 16px;
    font-family: 'SimplePrintRegular', sans-serif;
}

.replay-chart,
#chart {
    background-color: white;
    margin: 150px 5px;
}

.replay-chart {
    width: 295px;
}

.beat-button,
.fit-button {
    color: whitesmoke;
    margin: 2px;
    width: 75px;
    height: 75px;
}

.beat-button {
    background-color: black;
}

.fit-button {
    background-color: darkblue;
}

.hidden {
    display: None;
}

button {
    padding: 10px;
    font-size: inherit;
    background-color: darkblue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}

#record-section button {
    font-size: xx-large;
    padding: 15px 50px;
    margin: 30px;
}

@media (max-width: 960px) {
    body {
        width: 640px;
    }

    .navigation {
        margin: auto 50px;
    }

    .review {
        grid-template-columns: auto;
    }

    .review h1,
    .review-main {
        grid-column: 1 / 2;
    }

    .replay-chart,
    #chart {
        margin: 10px 5px;
    }
}